<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="badge">{{cartItems.length}}</span>
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li *ngFor="let p of cartItems">
                <a href="#">{{p.quantity}} {{p.product.title}}</a>
            </li>
        </ul>
    </li>
</ul>